<ion-header>
  <ion-toolbar>
    <ion-title>lista de cidades</ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar placeholder="Filter Schedules"></ion-searchbar
<ion-content>
  <ion-list>
    <ion-item *ngFor="let cidade of listaCidade| async">
      <ion-label>{{ cidade.nome }}</ion-label>
      <ion-label>{{ cidade.estado }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="full" shape="round" href="salvar-estado">voltar</ion-button>
  <ion-button expand="full" shape="round" href="listar-estado">lista de estados</ion-button>
</ion-content>
