<ion-header>
  <ion-toolbar>
    <ion-title>
      Salvar Contato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome:</ion-label>
    <ion-input type="text" placeholder="insira o seu nome" [(ngModel)]="contato.nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefone:</ion-label>
    <ion-input type="text" placeholder="insira o telefone" [(ngModel)]="contato.telefone"></ion-input>
  </ion-item>

  <ion-button expand="full" shape ="around" (click)="salvar()">salvar</ion-button>
</ion-content>
<ion-footer>
  <ion-button href="home">Voltar</ion-button>
</ion-footer>
