<ion-header>
  <ion-toolbar>
    <ion-title>
      Agenda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-label position="flouting">Email:
      <ion-input type="text" name="email" [(ngModel)]="usuario.email"></ion-input>
    </ion-label>
    <ion-label position="flouting">Senha:
      <ion-input type="password" name="senha" [(ngModel)]="usuario.senha"></ion-input>
    </ion-label>
    <ion-button expand=full (click)="logar()">Acessar</ion-button>
    <h5>Ou</h5>
    <ion-button expand=full href = nova>redefinir senha</ion-button>
  </ion-content>


</ion-content>
